html, body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
}

.channels {
  float: left;
  width: 20%;
}

.messages {
  float: left;
  width: 80%;
}

.message {
  border: 2px solid #e3e3e3;
  margin-bottom: 10px;
  padding: 5px;
}

.message-header {
  border-bottom: 1px solid black;
  height: 20px;
}

.channel-name {
  float: left;
}

.message-date {
  float: right;
}

.message-content {
  clear: both;
}

.message-author {
    font-weight: bold;
}
