body {
  padding-top: 70px;
  padding-bottom: 75px;
}

a {
  cursor: pointer;
}

.profile-img {
  width: 50px;
  height: 50px;
  margin: 0 5px 10px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

h5 {
  font-weight: bold;
}

footer {
  position: fixed;
  bottom: 0;
  background-color: #fff;
  padding-right: 14px;
}

.message-list {
  padding-bottom: 43px;
}

.message {
  margin: 0 0 10px 0;
}
.message > div {
  border-left: 2px solid #ddd;
  border-bottom: 2px solid #ddd;
  padding-left: 0;
}
.message-header {
  margin-left: 15px;
}
.message-header .glyphicon {
  font-size: 10px;
  top: 0;
}
.message-body {
  margin-left: 15px;
}
.input-group-addon > i {
  font-size: 14px;
}

.channel-color {
  width: 18px;
  height: 20px;
  margin-right: 6px;
  display: inline-block;
}
.channel-color i {
  color: white;
  font-size: 10px;
  padding: 0 3px;
  top: 0;
  cursor: pointer;
}
.channel-name {
}
.topic-title {
}
#channel-list li label {
  margin-left: 10px;
  font-weight: normal;
}

.bg-blue {
  background-color: #337ab7;
  color: #fff;
}

.subscribe-icon {
  margin-top: 3px;
  width: 24px;
}

ul.nav.nav-pills.nav-stacked li a i {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.dropdown-colorselector {
  float: left;
}

div._01 { border-left: 2px solid #f44336; border-bottom: 2px solid #f44336; }
span._01 { float: left; background-color: #f44336; }
i._01 { color: #f44336; }

div._02 { border-left: 2px solid #e91e63; border-bottom: 2px solid #e91e63; }
span._02 { float: left; background-color: #e91e63; }
i._02 { color: #e91e63; }

div._03 { border-left: 2px solid #9c27b0; border-bottom: 2px solid #9c27b0; }
span._03 { float: left; background-color: #9c27b0; }
i._03 { color: #9c27b0; }

div._04 { border-left: 2px solid #673ab7; border-bottom: 2px solid #673ab7; }
span._04 { float: left; background-color: #673ab7; }
i._04 { color: #673ab7; }

div._05 { border-left: 2px solid #3f51b5; border-bottom: 2px solid #3f51b5; }
span._05 { float: left; background-color: #3f51b5; }
i._05 { color: #3f51b5; }

div._06 { border-left: 2px solid #2196f3; border-bottom: 2px solid #2196f3; }
span._06 { float: left; background-color: #2196f3; }
i._06 { color: #2196f3; }

div._07 { border-left: 2px solid #03a9f4; border-bottom: 2px solid #03a9f4; }
span._07 { float: left; background-color: #03a9f4; }
i._07 { color: #03a9f4; }

div._08 { border-left: 2px solid #00bcd4; border-bottom: 2px solid #00bcd4; }
span._08 { float: left; background-color: #00bcd4; }
i._08 { color: #00bcd4; }

div._09 { border-left: 2px solid #009688; border-bottom: 2px solid #009688; }
span._09 { float: left; background-color: #009688; }
i._09 { color: #009688; }

div._10 { border-left: 2px solid #4caf50; border-bottom: 2px solid #4caf50; }
span._10 { float: left; background-color: #4caf50; }
i._10 { color: #4caf50; }

div._11 { border-left: 2px solid #8bc34a; border-bottom: 2px solid #8bc34a; }
span._11 { float: left; background-color: #8bc34a; }
i._11 { color: #8bc34a; }

div._12 { border-left: 2px solid #cddc39; border-bottom: 2px solid #cddc39; }
span._12 { float: left; background-color: #cddc39; }
i._12 { color: #cddc39; }

div._13 { border-left: 2px solid #ffeb3b; border-bottom: 2px solid #ffeb3b; }
span._13 { float: left; background-color: #ffeb3b; }
i._13 { color: #ffeb3b; }

div._14 { border-left: 2px solid #ffc107; border-bottom: 2px solid #ffc107; }
span._14 { float: left; background-color: #ffc107; }
i._14 { color: #ffc107; }

div._15 { border-left: 2px solid #ff9800; border-bottom: 2px solid #ff9800; }
span._15 { float: left; background-color: #ff9800; }
i._15 { color: #ff9800; }

div._16 { border-left: 2px solid #ff5722; border-bottom: 2px solid #ff5722; }
span._16 { float: left; background-color: #ff5722; }
i._16 { color: #ff5722; }

div._17 { border-left: 2px solid #795548; border-bottom: 2px solid #795548; }
span._17 { float: left; background-color: #795548; }
i._17 { color: #795548; }

div._18 { border-left: 2px solid #9e9e9e; border-bottom: 2px solid #9e9e9e; }
span._18 { float: left; background-color: #9e9e9e; }
i._18 { color: #9e9e9e; }

div._19 { border-left: 2px solid #607d8b; border-bottom: 2px solid #607d8b; }
span._19 { float: left; background-color: #607d8b; }
i._19 { color: #607d8b; }

div._20 { border-left: 2px solid #000000; border-bottom: 2px solid #000000; }
span._20 { float: left; background-color: #000000; }
i._20 { color: #000000; }

