<footer class="row footer feedback">
  <div class="col-xs-12">
    {{#if sent}}
    <div class="jumbotron">
      <h1>Thanks a lot!</h1>
      <h3>We'll get back to you shortly.</h3>
    </div>
    {{else}}
    <form {{action 'sendFeedback' on='submit' id='messageform'}}>
      <div class="input-group input-group-lg">
        <span class="input-group-addon form-control-top-left" id="addon-chevron-right">{{currentUser.content.email}} <i class="glyphicon glyphicon-chevron-right"></i></span>
        <span class="form-control form-control-top-right" id="pm-penpal">Feedback <small class="text-muted">(feedback@kwak.io)</small></span>
      </div>
      <div class="form-group">
        {{textarea id="messagebox" class="form-control form-control-bottom vert" rows="10" value=feedbackMessage}}
      </div>
      <button class="btn btn-primary">Send feedback</button>
    </form>
    {{/if}}
  </div>
</footer>
