<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="well well-lg">
        <h3>Paragraphes</h3>
        <h6>Chemin de Bethléem 6</h6>
        <h6>1700 Fribourg</h6>
        <h6>contact@kwak.io</h6>
      </div>
    </div>
  </div>
</div>
