body {
  padding-top: 70px;
  padding-bottom: 75px;
}

a {
  cursor: pointer;
}

textarea.vert {
  resize:vertical;
}

h5 {
  font-weight: bold;
}

img {
  max-width: 100%;
}

.form-control-inline {
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.footer {
  position: fixed;
  left: 214px;
  right: 200px;
  bottom: 0;
  background-color: #fff;
  padding-right: 14px;
}

#channel-select {
  line-height: normal;
  height: 34px;
  font-size: 14px;
  padding: 6px 12px;
}

#addon-chevron-right {
  line-height: normal !important;
  height: 34px !important;
  padding: 0 10px !important;
  font-size: 14px;
}

#topic {
  height: 34px;
  font-size: 14px;
  line-height: normal;
}

#pm-penpal {
  height: 34px;
  font-size: 14px;
  line-height: normal;
}

#message-box {
  font-size: 14px;
}

blockquote {
  font-size: 14px;
}

/* topmenu */
.navbar-collapse.collapse, .navbar-collapse.collapsing {
  margin-left: 20px !important;
}

.navbar-brand img {
  height: 24px;
}

/* left column, containing channels */
.channels {
  width: 200px;
  margin-top: 51px;
  padding: 10px 5px;

  border-right: 1px solid #e7e7e7;
  background-color: #f8f8f8;

  position: fixed;
  top: 0;
  bottom: 70px;
  z-index: 1050;
  overflow-y: auto;
  border-radius: 0;

  right: auto;
  left: 0;
}

.channels h5 {
  padding-right: 5px;
}

#hide-channels {
  display: none;
}

ul.nav.nav-pills.nav-stacked li a i {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.channels .nav>li>a {
  padding: 5px 15px;
}

.help {
  height: 70px;
  width: 200px;

  position: fixed;
  bottom: 0;
  z-index: 1050;

  padding: 5px;
}

/* right column, containing connected people */
.connected {
  width: 200px;
  margin-top: 51px;

  border-left: 1px solid #e7e7e7;
  background-color: #f8f8f8;

  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 1050;
  overflow-y: auto;
  border-radius: 0;

  left: auto;
  right: 0;
}

.connected .list-group-item {
  padding: 3px 6px;
}

#connected-list .list-group-item .label {
  margin-top: 2px;
}

#hide-connected {
  display: none;
}

/* center container, containing messages */
.center-container {
  margin-left: 200px;
  margin-right: 200px;
}

.channel-color {
  width: 18px;
  height: 20px;
  margin-right: 6px;
  display: inline-block;
}
.channel-color i {
  color: white;
  font-size: 10px;
  padding: 0 3px;
  top: 0;
  cursor: pointer;
}
.channel-name {
}
.topic-title {
}
.is-locked {
  background-color: rgba(33, 150, 243, 0.05);
}
/* Message list */
.message-list {
  padding-bottom: 75px;
}

.message {
  margin: 0 0 10px 0;
  font-size: 15px;
}

.message.seen {
  font-size: 14px;
}

.message:not(.seen) {
  background-color: #FFFFCC;
}

.message.unfocused {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; /* IE 8 */
  filter: alpha(opacity=50); /* IE 5-7 */
  -moz-opacity: 0.5; /* Netscape */
  -khtml-opacity: 0.5; /* Safari 1.x */
  opacity: 0.5; /* Good browsers */
}
.message > div {
  border-left: 2px solid #ddd;
  border-bottom: 2px solid #ddd;
  padding-left: 0;
}
.message-header {
  margin-left: 15px;
}
.message-header .glyphicon {
  font-size: 10px;
  top: 0;
}
.message-body {
  margin-left: 24px;
}

.search-form {
  width: 100%;
  margin-bottom: 10px;
}

/* PM */
.pm > div {
  margin: 0;
  margin-bottom: 2px;
}
.pm h5 {
  margin-top: 0;
}
.pm > div > div {
  border-bottom: 0;
}

.pm > div:last-child > div {
  border-bottom: 2px solid black;
}

#connected-list > li {
  cursor: pointer;
}

/* Message Box */
.input-group-addon > i {
  font-size: 14px;
}

/* Admin */
.activate-users {
  height: 300px;
  overflow: auto;
}

#channel-list li label {
  margin-left: 10px;
  font-weight: normal;
}

.subscribe-icon {
  margin-top: 3px;
  width: 24px;
}

.channel-create {
  margin-left: 10px;
}

.dropdown-colorselector {
  float: left;
}

/* colors */
div._01 { border-left: 2px solid #f44336; border-bottom: 2px solid #f44336; }
span._01 { float: left; background-color: #f44336; }
i._01 { color: #f44336; }

div._02 { border-left: 2px solid #e91e63; border-bottom: 2px solid #e91e63; }
span._02 { float: left; background-color: #e91e63; }
i._02 { color: #e91e63; }

div._03 { border-left: 2px solid #9c27b0; border-bottom: 2px solid #9c27b0; }
span._03 { float: left; background-color: #9c27b0; }
i._03 { color: #9c27b0; }

div._04 { border-left: 2px solid #673ab7; border-bottom: 2px solid #673ab7; }
span._04 { float: left; background-color: #673ab7; }
i._04 { color: #673ab7; }

div._05 { border-left: 2px solid #3f51b5; border-bottom: 2px solid #3f51b5; }
span._05 { float: left; background-color: #3f51b5; }
i._05 { color: #3f51b5; }

div._06 { border-left: 2px solid #2196f3; border-bottom: 2px solid #2196f3; }
span._06 { float: left; background-color: #2196f3; }
i._06 { color: #2196f3; }

div._07 { border-left: 2px solid #03a9f4; border-bottom: 2px solid #03a9f4; }
span._07 { float: left; background-color: #03a9f4; }
i._07 { color: #03a9f4; }

div._08 { border-left: 2px solid #00bcd4; border-bottom: 2px solid #00bcd4; }
span._08 { float: left; background-color: #00bcd4; }
i._08 { color: #00bcd4; }

div._09 { border-left: 2px solid #009688; border-bottom: 2px solid #009688; }
span._09 { float: left; background-color: #009688; }
i._09 { color: #009688; }

div._10 { border-left: 2px solid #4caf50; border-bottom: 2px solid #4caf50; }
span._10 { float: left; background-color: #4caf50; }
i._10 { color: #4caf50; }

div._11 { border-left: 2px solid #8bc34a; border-bottom: 2px solid #8bc34a; }
span._11 { float: left; background-color: #8bc34a; }
i._11 { color: #8bc34a; }

div._12 { border-left: 2px solid #cddc39; border-bottom: 2px solid #cddc39; }
span._12 { float: left; background-color: #cddc39; }
i._12 { color: #cddc39; }

div._13 { border-left: 2px solid #ffeb3b; border-bottom: 2px solid #ffeb3b; }
span._13 { float: left; background-color: #ffeb3b; }
i._13 { color: #ffeb3b; }

div._14 { border-left: 2px solid #ffc107; border-bottom: 2px solid #ffc107; }
span._14 { float: left; background-color: #ffc107; }
i._14 { color: #ffc107; }

div._15 { border-left: 2px solid #ff9800; border-bottom: 2px solid #ff9800; }
span._15 { float: left; background-color: #ff9800; }
i._15 { color: #ff9800; }

div._16 { border-left: 2px solid #ff5722; border-bottom: 2px solid #ff5722; }
span._16 { float: left; background-color: #ff5722; }
i._16 { color: #ff5722; }

div._17 { border-left: 2px solid #795548; border-bottom: 2px solid #795548; }
span._17 { float: left; background-color: #795548; }
i._17 { color: #795548; }

div._18 { border-left: 2px solid #9e9e9e; border-bottom: 2px solid #9e9e9e; }
span._18 { float: left; background-color: #9e9e9e; }
i._18 { color: #9e9e9e; }

div._19 { border-left: 2px solid #607d8b; border-bottom: 2px solid #607d8b; }
span._19 { float: left; background-color: #607d8b; }
i._19 { color: #607d8b; }

div._20 { border-left: 2px solid #000000; border-bottom: 2px solid #000000; }
span._20 { float: left; background-color: #000000; }
i._20 { color: #000000; }

.c1 {
  color: #1c3a4f;
}
.c2 {
  color: #15232d;
}
/* Tour */
.shepherd-step {
  z-index: 1060;
}

/* Strip */
.plan-select {
  display: inline-block;
  width: 120px;
  margin: 0 10px;
}
.users-select {
  display: inline-block;
  width: 60px;
  margin: 0 10px;
}

/* media queries for smaller screens */
@media (max-width: 768px) {
  #hide-channels {
    cursor: pointer;
    display: block;
  }
  .channels h5 {
    display: none;
  }
  #channels-list {
    display: none;
  }
  .channels {
    left: -175px;
    bottom: 0;
  }
  .help {
    display: none;
  }

  .center-container {
    margin-left: 20px;
    margin-right: 20px;
  }

  #hide-connected {
    cursor: pointer;
    margin: 10px 5px;
    display: block;
  }
  .connected {
    right: -175px;
  }
  #connected-list {
    display: none;
  }

  .footer {
    left: 34px;
    right: 34px;
  }
}

.feedback {
  bottom: auto;
  top: 57px;
}

/* Print stylesheet */

@media print {
  a[href]:after {
    content: "";
  }
  abbr[title]:after {
    content: "";
  }
  aside {
    display: none;
  }
  .footer {
    display: none;
  }
  .help {
    display: none;
  }
  body {
    padding: 0;
  }
  .center-container {
    margin: 0;
  }
}
