<aside class="channels">
  <ul>
  {{#each channel in channels}}
    <li>{{#link-to 'channels.channel' channel.id channel.name}}{{channel.name}}{{/link-to}}</li>
  {{/each}}
  </ul>
</aside>

<div class="messages">
  <ul>
  {{#each message in messages}}
    <li>
      {{message.channel.name}}<br>
      {{message.content}}
    </li>
  {{/each}}
  </ul>
</div>
