<div class="row">
  <aside class="channels col-md-2 col-sm-2 hidden-xs">
    <div class="affix" data-spy="affix">
      <ul class="nav nav-pills nav-stacked">
      {{#each channel in controller.subscribed}}
        {{#link-to 'channels.channel' channel.id channel.name tagName="li" href=false}}<a {{bind-attr href="view.href"}}>{{channel.name}}</a>{{/link-to}}
      {{/each}}
      </ul>
    </div>
  </aside>
  <div class="col-md-10 col-sm-10 col-xs-12">
    {{outlet}}
  </div>
</div>
