{{#view 'channel-list'}}
<aside class="channels">
  <ul id="hide-channels" class="nav nav-pills nav-stacked">
    <li><span class="glyphicon glyphicon-chevron-right pull-right"></span><br></li>
  </ul>
  <ul id="channels-list" class="nav nav-pills nav-stacked">
  {{#each channel in controller.subscribed}}
    {{#link-to 'channels.channel' channel.id channel.name tagName="li" href=false}}<a {{bind-attr href="view.href"}}><i {{bind-attr class=":glyphicon-tag channel.color"}}></i> {{channel.name}}</a>{{/link-to}}
  {{/each}}
  </ul>
</aside>
{{/view}}

<div class="container-fluid right-container">
  {{outlet}}
</div>
