<div class="row">
  <div class="col-lg-12">

    <p><strong>kwak</strong> uses a formatting language called <a href="https://en.wikipedia.org/wiki/Markdown">Markdown</a>. Its simple syntax is explained below:</p>

    <table class="table table-striped">
      <thead>
        <th>code</th>
        <th>result</th>
      </thead>
      <tbody>
        <tr>
          <td><pre>first paragraph
&lt;blank line&gt;
second paragraph</pre>
<em>Tip: Use shift-enter to create a new line.</em></td> <td><p>first paragraph</p><p>second paragraph</p></td>
        </tr>

        <tr>
          <td><pre>**bold**</pre></td> <td><strong>bold</strong></td>
        </tr>

        <tr>
          <td><pre>*italic*</pre></td> <td><em>italic</em></td>
        </tr>

        <tr>
          <td><pre>~~strikethrough~~</pre></td> <td><s>italic</s></td>
        </tr>

        <tr>
          <td><pre>[example link](http://example.com)</pre></td> <td><a href="http://example.com">example link</a></td>
        </tr>

        <tr>
          <td><pre>* list
* items</pre></td> <td><ul><li>list</li><li>items</li></ul></td>
        </tr>

        <tr>
          <td><pre>![my image](http://i.imgur.com/ebSpUya.png)</pre></td> <td><img src="http://i.imgur.com/ebSpUya.png"></td>
        </tr>

        <tr>
          <td><pre>`inline code`</pre></td> <td><code>inline code</code></td>
        </tr>

        <tr>
          <td><pre>```python
print "true is", True
```</pre></td> <td><pre class="prettyprint prettyprinted"><code class="python"><span class="kwd">print</span><span class="pln"> </span><span class="str">"true is "</span><span class="pun">,</span><span class="pln"> </span><span class="kwd">True</span></code></pre></td>
        </tr>

        <tr>
          <td><pre>&gt; a quote</pre></td> <td><blockquote>a quote</blockquote></td>
        </tr>

        <tr>
          <td>To edit your message, double-click it.</td><td></td>
        </tr>
      </tbody>
    </table>

  </div>
</div>
